USE [Pharmacy]
GO
ALTER TABLE [dbo].[Purchases] DROP CONSTRAINT [FK_Purchases_Employees]
GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 16.05.2018 11:18:04 ******/
DROP TABLE [dbo].[Purchases]
GO
